<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="/css/about.css">
</head>

<body id="grad">
  <header class="header">
    <a href="/" ><p class="brand">E-COMMERCE</p></a> 
    <nav class="links">
      <a href="about"><img src="/images/about.png" width="45px" height="45px"></a>
      <a href="contact"><img src="/images/contact.png" width="40px" height="40px" ></a>
      <a  href="user"><img src="/images/user.png" width="30px" height="40px" ></a>
      <a href="/cart"> <img src="/images/cart.png" width="30px" height="30px"><span class="cart-count"><%= locals.cartItemCount %></span>
</a> 
    </nav>
  </header>
  <div class="product-card">
    <h4>About Us</h4>
    <p>Welcome to E-Commerce Store - your one-stop destination for everything you love!

We are an online marketplace dedicated to bringing you the best in electronics, fashion, home decor, and books. Whether you're looking to upgrade your gadgets, refresh your wardrobe, beautify your living space, or dive into your next favorite novel - we've got it all, right here.</p>
<p>We believe online shopping should be simple, enjoyable, and reliable. </p>

<p>Thank you for choosing E-Store.We look forward to being a part of your everyday life!</p>

  </div>
</body>

</html>
