<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E-Commerce</title>
  <link rel="stylesheet" href="css\ex3.css">
</head>

<body id="grad">

  <header class="header">
    <p class="brand">E-COMMERCE</p>
    <nav class="links">
      <a href="home.html">Home</a>
      <a href="product.html">Product</a>
      <a href="About.html">About</a>
      <a href="Contact.html">Contact</a>
      <a href="Cart.html">🛒 Cart</a>
    </nav>
  </header>

  <h2 class="tagline">Happiness is not in money, but in shopping.</h2>

  <div class="product">
    <% result.forEach(function(item) { %>
    <div class="pro">
      <img src="images/<%= item.imgpath %>" alt="<%= item.name %>"">
      <h4><%= item.name %></h4>
      <p><b><%= item.price %></b></p>
      <button>Add to Cart</button>
    </div>
    <% }) %>
    <!-- <div class="pro">
      <img src="images\samsung.jpg" alt="Samsung Galaxy A53">
      <h4>Samsung Galaxy A53</h4>
      <p><b>Rs.24000</b></p>
      <button>Add to Cart</button>
    </div>
    <div class="pro">
      <img src="images\boat.jpg" alt="Product Image">
      <h4>boAt Airdopes</h4>
      <p><b>Rs.1500</b></p>
      <button>Add to Cart</button>
    </div>
    <div class="pro">
      <img src="" alt="Product Image">
      <h4></h4>
      <p><b>Rs.500</b></p>
      <button>Add to Cart</button>
    </div> -->
  </div>

</body>
</html>
